<!-- Navbar con la imagen del gimnasio y el listado de actividades -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img height="70px" width="70px"
                src="https://res.cloudinary.com/deunyl3k1/image/upload/s--WfrpP37C--/c_pad,h_800,w_800/v1/common/mall_common/0001/34/3523aa950ffb7737a80e90b888181d58a55ad311.png"
                alt="altafit"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Listado De Actividades</a>
                </li>
            </ul>
        </div>
    </div>
</nav>